body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    margin: 0 2vw;
    text-align: center;
}

main {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto;
}

h1, h2, a {
    text-align: center;
}

.bg-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
}

.card {
    display: flex;
    background-color: rgba(36, 36, 36, 0.6);
    padding: 0.1em 0.25em;
    border: 2px inset white;
    border-radius: 2em;
    overflow: hidden;

    section {
        margin: 1em 1em;
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            margin: 0;
            
            a {
                text-decoration: none;
                color: white;
                margin: 0 auto;
            }

            a::before {
                content: '\1F7B5  \266B  ';
            }

            a:after {
                content: ' \1F7B5';
            }
        }
    }
}

@media (max-width: 768px) {
    div.card {
        margin: 1em 2em;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) {
    div.card {
        margin: 1em 0;
    }

    img {
        float: left;
    }
}

div img {
    padding: 0.5em;
    height: 9em;
    width: 9em;
    border-radius: 2em;
}


.divtitle {
    text-align: center;
    margin: 0;
}

h2 {
    margin-top: 0;
}

#game {
    margin-bottom: 1em;
    outline: 1px solid blue;

    a:visited {
        color: rgb(192, 192, 255);
    }

    a:hover {
        color: rgb(128, 128, 255);
    }
}

#game:hover {
    background-color: rgba(32, 32, 64, 0.6);
}

#japan {
    outline: 1px solid red;

    a:visited {
        color: rgb(255, 192, 192);
    }

    a:hover {
        color: rgb(255, 128, 128);
    }
}

#japan:hover {
    background-color: rgba(64, 32, 32, 0.6);
}