* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 2em;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;

    div {
        display: flex;
        flex-direction: column;
        max-width: 16em;
        background-color: white;
        padding: 1.5em;
        border-radius: 1em;
        box-shadow: 0 0 5px 5px #e3e3e3;
        transition: transform 0.3s;
    }

    div:hover {
        transform: translateY(0.5em);
    }

    h1 {
        margin: 0;
    }

    P.sobre {
        text-align: center;
        color: white;
        background-color: #3498db;
        margin-top: auto;
        margin-bottom: 0;
        padding: 0.5em;
        border-radius: 0.5em;
    }

    .sobre:hover {
        background-color: #2980b9;
    }
}

@media (max-width: 768px) {
    #flex {
        flex-direction: column;

        div:hover {
            transform: translateX(1em);
        }
    }
}

