body {
    margin: 1em;
    background-color: lightblue;
}

#flex {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

    div {
        max-width: 5em;
        background-color: white;
        padding: 1.5em;
        border-radius: 2em;
        box-shadow: 0 0 5px 1px gray;
    }

    h1 {
        margin: 0;
    }

    .sobre {
        text-align: center;
        color: white;
        background-color: rgb(0, 0, 255);
        padding: 0.5em;
        border-radius: 0.5em;
    }
}